@import "tailwindcss";

@theme {
	/* Colors - Kudobox Brand */
	--color-cream: #F9F8F4;
	--color-orange-brand: oklch(0.645 0.246 16.439);
	--color-dark: #191817;
	
	/* Primary Colors */
	--color-primary-50: oklch(0.969 0.015 12.422);
	--color-primary-100: oklch(0.941 0.03 12.58);
	--color-primary-200: oklch(0.892 0.058 10.001);
	--color-primary-300: oklch(0.81 0.117 11.638);
	--color-primary-400: oklch(0.712 0.194 13.428);
	--color-primary-500: oklch(0.645 0.246 16.439);
	--color-primary-600: oklch(0.586 0.253 17.585);
	--color-primary-700: oklch(0.514 0.222 16.935);
	--color-primary-800: oklch(0.455 0.188 13.697);
	--color-primary-900: oklch(0.41 0.159 10.272);
	--color-primary-950: oklch(0.271 0.105 12.094);
	
	/* Gray Colors */
	--color-gray-50: oklch(0.985 0 0);
	--color-gray-100: oklch(0.967 0.001 286.375);
	--color-gray-200: oklch(0.92 0.004 286.32);
	--color-gray-300: oklch(0.871 0.006 286.286);
	--color-gray-400: oklch(0.705 0.015 286.067);
	--color-gray-500: oklch(0.552 0.016 285.938);
	--color-gray-600: oklch(0.442 0.017 285.786);
	--color-gray-700: oklch(0.37 0.013 285.805);
	--color-gray-800: oklch(0.274 0.006 286.033);
	--color-gray-900: oklch(0.21 0.006 285.885);
	--color-gray-950: oklch(0.141 0.005 285.823);

	--font-serif: "Instrument Serif", serif;
	--font-sans: "Inter", sans-serif;
}

body {
	background-color: var(--color-cream);
	font-family: var(--font-sans);
	color: var(--color-dark);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-serif);
}

